# Removing Asset Tracking
.DS_Store

# Untracking Python Caches
__pycache__

# Untracking Tasks and Todo
tasks

# Untracking the dataset from version control
data

# Untracking the FastF1 data Caches
cache

# Untracking the IDE Settings
.vscode

# Untracking the AI code review prompts
prompts.md